<img src="/images/chichos.jpg" alt="Mi difunto gato Chichos">
<p>Este era mi gatito Chichos</p>


<a href="/">Back to home page</a> {{!-- me parece un poco tonto poner un link a la home page en lugar de al profile, pero yo hago lo que pide el lab... --}}