<form action="/signup" method="POST" class="mx-auto w-50">
{{#if errorMessage}}
<div class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
{{/if}}

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{username}}">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="{{password}}">
  </div>
  <div class="mb-3">
    <label for="passwordRepeat" class="form-label">Repeat Password</label>
    <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" value="{{passwordRepeat}}">
  </div>
  <button type="submit" class="btn btn-primary">Register User</button>
</form>